[Global]
logfile="/var/log/runme.log"
organization="OBI's RunMe"
backgroundcolour="195593"

[Reboot]
name="Reboot Servers"
instructions="Select a server from the list to reboot"
action="Reboot"
confirm=true
timeout=10
waitbetween=300
serverlist="server.list"
